*.exe
*.zip
android-studio*
paneles*
*.iso
*.rar
*.tmp
node_modules/
*.zip
challenge-amigo-secreto_esp-main - copia/
# Directorios de proyectos que no deben subirse
challenge-amigo-secreto_esp-main/
js-curso-2-main/
ProyectoNumeroSecreto/
Sistema-de-registro/